.route-enter-from {
  @apply opacity-0;
}
.route-enter-active,
.route-leave-active {
  @apply transition-all duration-1000 ease-in-out;
}

.route-leave-to {
  @apply opacity-0;
}
body {
  @apply select-none;
}
/* ::-webkit-scrollbar {
  display: none;
} */
.catalog {
  @apply flex flex-wrap mx-auto justify-center
    w-11/12 mt-5
    md:w-4/5 md:mt-5
    lg:w-4/5 
    xl:w-3/5 
    2xl:w-auto 2xl:mt-10;
}
.catalog-2 {
  @apply flex flex-wrap mx-auto justify-center 
     w-11/12
     md:w-4/5 
     lg:w-4/5 
     xl:w-3/5 
     2xl:w-auto;
}
.header {
  @apply mt-5 pl-2  mx-auto text-xl font-serif
   w-11/12 
   md:w-4/5  
   lg:w-4/5  lg:mt-10
   xl:w-3/5
   2xl:w-2/5  2xl:mt-20;
}
.title-two {
  @apply text-base opacity-80;
}
.img-card {
  @apply w-full bg-white md:w-72 lg:w-72 xl:w-64 2xl:w-80;
}
.img-a {
  @apply relative  m-1;
}
.link {
  @apply absolute text-white w-full h-full text-center text-3xl font-thin font-serif flex justify-center items-center  md:opacity-0  md:hover:opacity-100 transition-all ease-in-out;
}
.footer {
  @apply mt-10 mb-10 mx-auto text-base font-serif 
    w-11/12 pl-2
    md:w-4/5  
    lg:w-4/5  
    xl:w-3/5
    2xl:w-2/5;
}
.footer-link {
  @apply border-b border-black lg:border-gray-500 hover:border-black transition-all duration-500 ease-in-out;
}

.worktitle {
  @apply bg-red-300;
}

/* Unnoticed */
.Work-container {
  @apply md:w-4/5 lg:w-3/5 xl:w-4/5 mx-auto w-full h-full mt-10;
}

.title-container {
  @apply w-11/12 xl:w-3/5 mx-auto leading-7;
}

.title-text {
  @apply text-xl mb-10 font-serif opacity-80;
}

.title-text2 {
  @apply text-xl font-bold font-serif mb-5  text-center  opacity-70;
}
.title-text3 {
  @apply text-end text-sm font-serif mt-5 italic opacity-70;
}
.about-text {
  @apply text-sm md:text-base leading-7 md:leading-8 opacity-80;
}
.pic-container {
  @apply mx-auto md:w-4/5  mt-5;
}
.pic-box {
  @apply mt-10  xl:w-3/5 mx-auto;
}
.pic {
  @apply w-11/12 mx-auto;
}
.footer-work {
  @apply mt-10;
}
.hp-loading {
  @apply w-full h-screen flex flex-col items-center justify-center align-middle font-serif;
}

/* -loading animate- */
.loading,
.loading > div {
  position: relative;
  box-sizing: border-box;
}

.loading {
  display: block;
  font-size: 0;
  color: #000;
}

.loading.la-dark {
  color: #333;
}

.loading > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.loading {
  width: 32px;
  height: 32px;
}

.loading > div {
  width: 100%;
  height: 100%;
  border-radius: 0;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

.loading.la-sm {
  width: 16px;
  height: 16px;
}

.loading.la-2x {
  width: 64px;
  height: 64px;
}

.loading.la-3x {
  width: 96px;
  height: 96px;
}

@keyframes square-spin {
  0% {
    transform: perspective(100px) rotateX(0) rotateY(0);
  }

  25% {
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }

  50% {
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }

  75% {
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }

  100% {
    transform: perspective(100px) rotateX(0) rotateY(360deg);
  }
}

.loading-text {
  @apply text-xl pb-5;
}


/* 
.main-box {
@apply  flex items-center  flex-nowrap  h-screen ;
}
.xbox2 {
@apply  flex overflow-x-scroll flex-nowrap ;
}
.pic{
height:600px;
@apply  m-1  flex-shrink-0 min-w-max
}
.menu {
width:320px;
@apply float-left h-screen ;
} */

.main-box {
  @apply  flex items-center  flex-nowrap  h-screen ;
  }

  .xbox2 {
  @apply  whitespace-nowrap overflow-x-scroll inline;
  }

.pic{
  height:700px;
  @apply  m-1   flex-shrink-0 inline overflow-hidden min-w-max
  }

.menu {
  width:320px;
  @apply float-left h-screen hidden;
  }
  