.route-enter-from {
    opacity: 0;
    transform: translateY(-50px);
  }
  .route-enter-active {
    transition: all 1s ease-in-out;
  }
  
  .route-leave-active {
    transition: all .5s ease-in-out;
  }
  .route-leave-to {
    opacity: 0;
    transform: translateY(40px);
  }
